.idea
.cake_task_cache
.svn
.tags
.tags_sorted_by_file
.tm_properties
.project
.buildpath
.settings
.env
.vscode
.DS_Store

Homestead.json
Homestead.yaml
composer.lock

*.log
*.bak
*.cache

/_notes
/node_modules
/logs
/vendor
/phpunit-coverage
